<%= form_for @sort, :html => {:multipart => true}  do |f| %>

<p>
<%= f.label :LOGO%><br>
<%= image_tag(@sort.logo_url) %>
<%= f.file_field :logo %>
<%= f.hidden_field :logo_cache  %>
</p>
<p>
<%= f.label :名字 %><br>
<%= f.text_field :name %>
</p>

<p>
<%= f.label :介绍 %><br>
<%= f.text_area :introduction %>
</p>

<p>
<%= f.label :parent_id %><br>
<%= f.select :parent_id,
  options_from_collection_for_select(Sort.all, :id, :name,
                                     @sort.parent_id),  { :include_blank => true }
  %>
</p>

<p>
<%= f.submit %>
</p>
<% end %>
