<!DOCTYPE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
<!--<script type="text/javascript" src="/jquery-1.11.2.min.js"/>-->
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/jssor.slider.mini.js"></script>
<style>

#menu{
  text-align: center;
}
#menu a{
  font-size: 30px;
  color: black;
  line-height: 100px;
  margin: 30px -2px;
  font-weight: bold;
  text-decoration: none;
  background-image: url(/images/menu_background_default.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  background-position: center bottom;
}
#menu a:hover{
  background-image: url(/images/menu_background_active.png);
}

#pv{

  font-size:20px;
  text-align:center;

}

.contact_us_div{width:1170px;
  margin:100 auto;
  margin-top:30;
}
td p{
  font-size:30px;
  color:252222;
  font-family:宋体;
  text-align:left;
}
.container{
  width:1170px;
  margin:100 auto;
}
.dv1{
  width:300px;
  height:300px;
  border:2px solid red;
  position:absolute;
  left:200px;
  margin-left:500px;
  margin-top:450px;
}
</style>
</head>
<body>
<img src="/images/title.png">
<%#<div style="" id='menu'>     %>
<%#  <a href="">首页</a>      %>
<%#  <a href="">简介</a>      %>
<%#  <a href="">品种</a>      %>
<%#  <a href="">特性</a>      %>
<%#  <a href="">研究动态</a>%>
<%#  <a href="">产品</a>      %>
<%#  <a href="">联系我们</a>%>
<%#</div>                       %>
<%=raw Page.find_by_id(4).content%>
<div style="background-image:url(/images/feishi.png);width: 2000px;
  height: 848">
  <div style="margin-top: 31;
    margin-left: 309;
    display: inline-block;">
    <p style="font-size: 71;
    color: fefdfd;"> 沸石<br/>
    FEISHI</p><br/>
    <p style="margin-top: -73;
    font-size: 32;
    color: white"> 健康&</p>
    <p style="margin-top: -70;
    color: a1d985;
    font-size: 33;
    margin-left: 91">环境</p><br/>
    <div style="font-size: 20;
      color: fefdfd;
      border: 1px solid 375285;
      background-color: green;
      margin-top: 220;
      margin-left: 7;">
      了解更多>>
    </div>
  </div>

</div>

<div class="container">
  <div style="float:left;width:30%;">
    <div>
      <img src="/images/introduces.png"/>
    </div>
    <%#<div style="width:300px;"> %>
    <%#  1932年，McBain提出了“分子筛”的概念。表示 %>
    <%#  可以在分子水平上筛分物质的多孔材料。虽然沸%>
    <%#  石只是分子筛的一种，但是沸石在其中最具代表%>
    <%#  性，因此“沸石”和“分子筛”这两个词经常被%>
    <%#  混用。 %>
    <%#  沸石（zeolite）是一种矿石，最早发现于1756年。 %>
    <%#  瑞典的矿物学家克朗斯提（Cronstedt）发现有一   %>
    <%#  类天然硅铝酸盐矿石在灼烧时会产生沸腾现象，%>
    <%#  因此命名为“沸石”（瑞典文zeolit）。在希腊文%>
    <%#  中意为“沸腾”（zeo）的“石头”（lithos）。   %>
    <%#  此后，人们对沸石的研究不断深入。 %>
    <%#</div> %>
   <%=raw Page.find_by_id(8).content%>
  </div>

  <div style="float:left;width:30%;">
    <div>
      <img src="/images/breed.png"/>
    </div>
    <!--
    <div style="width:300px;" >
      自然界已发现的沸石有30多种，较常见的有方沸
      石、菱沸石、钙沸石、片沸石、钠沸石、丝光沸
      石、辉沸石等，都以含钙、钠为主。它们含水量
      的多少随外界温度和湿度的变化而变化。晶体所
      属晶系随矿物种的不同而异，以单斜晶系和正交
      晶系（斜方晶系）的占多数。方沸石、菱沸石常
      呈等轴状晶形，片沸石、辉沸石呈板状，毛沸石、
      丝光沸石呈针状或纤维状，钙十字沸石和辉沸石
      双晶常见。纯净的各种沸石均为无色或白色，但
      可因混入杂质而呈各种浅色。玻璃光泽。解理随
      晶体结构而异。莫氏硬度中等。
    </div>
    -->
    <%= raw Page.find_by_id(6).content %>
  </div>
  <div style="float:left;width:40%;">
    <div>
      <img src="/images/charac.png"/>
    </div>
  <%#<div style="width:300px";>    %>
  <%#  沸石具有吸附性、离子交换性、催化和耐酸耐热%>
  <%#  等能，因此被广泛用作吸附剂、离子交换剂和 %>
  <%#  催化剂，也可用于气体的干燥、净化和污水处理%>
  <%#  等方面。沸石还具有“营养”价值。在饲料中添%>
  <%#  加5%的沸石粉，能使禽畜生长加快，体壮肉鲜，%>
  <%#  产蛋率高。 %>
  <%#  由于沸石的多孔性硅酸盐性质，小孔中存有一定%>
  <%#  量的空气，常被用于防暴沸。在加热时，小孔内%>
  <%#  的空气逸出，起到了气化核的作用，小气泡很容%>
  <%#  易在其边角上形成。 %>
  <%#</div>%>
  <%= raw Page.find_by_id(7).content%>
  </div>

  <br/><br/><br/><br/>
  <div style="float:left;text-align:center;margin-top: 200;
    margin-bottom:71">
<!--    <div style="font-size:40px;">沸石产品(CHANPIN)</div>
    <div id="pv">天然沸石是一种新兴材料,被广泛应用与工业.农业.国防等部
      门,并且他的用途还在不断的开阔,并且他的用途还在不断的开阔</div>
-->
    <%= raw Page.find_by_id(5).content %>

  </div>

</div>
<br/>
<div id="slider1_container" style="position: relative; top: 435px; left: 515px; width: 600px; height: 300px;margin:230px;">
  <!-- Slides Container -->
  <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
    <div><img u="/image" src="/images/art.png" /></div>
    <div><img u="/image" src="/images/contact.png" /></div>
  </div>
</div>

<div>
</div>


<div class="contact_us_div">
  <table>
    <tr><td>
        <%#<div style="float:left;font-size:40px;                %>
        <%#  font-color:878585;margin:auto;text-align:left;">    %>
        <%#  CONTACT US<br/>                                     %>
        <%#  联系我们<br/>                                   %>
        <%#  <p style="font-size:20px;color:747272;margin:10 5;">%>
        <%#  联系人：赵女士                               %>
        <%#  </br>                                               %>
        <%#  联系电话：18210296322                          %>
        <%#  </br>                                               %>
        <%#  联系地址：北京市海淀区三元桥          %>
        <%#  霄云中心A座310                                 %>
        <%#  </p>                                                %>
        <%#  </br>                                               %>
        <%#  <img src="/images/smart_logo.png"/><br/>            %>
        <%#  <div style='border: 3px solid #888484;              %>
        <%#    color: #727272;                                   %>
        <%#    font-size: 32px;                                  %>
        <%#    display: inline-block;                            %>
        <%#    padding: 10px 50px;                               %>
        <%#    font-weight: bold;                                %>
        <%#    margin:43px 0;'>                     %>
        <%#    查看更多 >>    %>
        <%#  </div>  %>
        <%#</div>  %>
      <%=raw Page.find_by_id(9).content %>
      </td>
      <td>
        <div style="margin:434px;">
          <img src="/images/contact.png"/>
        </div>
      </td>
    </tr>
  </table>
</div>
<div id='footer' class="container"  style="font-size: 35;
  border: 1px solid green;
  background-color: beige;">
  copyright@2014 happysoft.cc
</div>
</body>
<script>
    $(function() {
         var options = { $AutoPlay: true };
         var jssor_slider1 = new $JssorSlider$('slider1_container', options);
                  });
</script>
</html>
