
<%= form_for @page do |f|  %>
  <%# @page = Page.new %>
<%# form_for @page,{ :url => '/pages/', :method => 'post'}, do |f| %>

  <%# @page = Page.find(1) %>
<%# form_for @page,{ :url => '/pages/1/update', :method => 'put'}, do |f| %>

  <p>
  标题: <br>
  <%= f.text_field :title %>
  <%# = text_field_tag 'page[title]'# %>
  </p>
  <p>
  <%= f.label :内容 %><br>
  <%= f.cktext_area :content%>
  </p>
  <p>
  <%= f.label :所属分类 %><br>
  <%= f.select :sort_id, options_from_collection_for_select(Sort.all, :id, :name,
                                                            @page.sort_id), { :include_blank => true}%>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>
